<div class="wrapper mt-24 md:mt-18">
    <div class="sidebarleft absolute lg:fixed invisible md:visible">
        <div class="px-8 py-4 flex flex-row items-center justify-between">
            <a>Menu</a>
        </div>
        <nav id="leftmenu" :class="{'block': open, 'hidden': !open}"
             class="bg-transparent flex-grow md:block px-4 pb-4 md:pb-0 md:overflow-y-auto">
            <a class="block px-4 py-2 mt-2 text-sm hover:text-teal-900 hover:font-semibold text-black"
               href="/amqp">AMQP</a>
            <a class="block px-4 py-2 mt-2 text-sm hover:text-teal-900 hover:font-semibold text-black"
               href="/assertion">Assertion</a>
            <a class="block px-4 py-2 mt-2 text-sm hover:text-teal-900 hover:font-semibold text-black"
               href="/context">Context</a>
            <a class="block px-4 py-2 mt-2 text-sm hover:text-teal-900 hover:font-semibold text-black"
               href="/function">Function</a>
            <a class="block px-4 py-2 mt-2 text-sm hover:text-teal-900 hover:font-semibold text-black"
               href="/groovy">Groovy</a>
            <a class="block px-4 py-2 mt-2 text-sm hover:text-teal-900 hover:font-semibold text-black"
               href="/http">Http</a>
            <a class="block px-4 py-2 mt-2 text-sm hover:text-teal-900 hover:font-semibold text-black"
               href="/kafka">Kafka</a>
            <a class="block px-4 py-2 mt-2 text-sm hover:text-teal-900 hover:font-semibold text-black"
               href="/micrometer">Micrometer</a>
            <a class="block px-4 py-2 mt-2 text-sm hover:text-teal-900 hover:font-semibold text-black"
               href="/mongo">Mongo</a>
            <a class="block px-4 py-2 mt-2 text-sm hover:text-teal-900 hover:font-semibold text-black"
               href="/radius">Radius</a>
            <a class="block px-4 py-2 mt-2 text-sm hover:text-teal-900 hover:font-semibold text-black"
               href="/selenium">Selenium</a>
            <a class="block px-4 py-2 mt-2 text-sm hover:text-teal-900 hover:font-semibold text-black"
               href="/sql">SQL</a>
            <a class="block px-4 py-2 mt-2 text-sm hover:text-teal-900 hover:font-semibold text-black"
               href="/ssh">SSH</a>
        </nav>
    </div>
</div>