<article>
  <section id="intellij"></section>
  <h3><strong>Getting started</strong></h3><br>
  <strong>Intellij</strong><br><br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis minus architecto iste facilis aperiam
    modi cupiditate vel, temporibus ullam dolore sed, harum dolor? Aliquam dolores praesentium architecto omnis
    voluptates quo.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quibusdam neque debitis similique quas harum
    iure eum maiores in iusto unde sint voluptate, minus sapiente, corporis provident ad ducimus beatae!
  </p>
  <br><br>
  <hr>
  <br>
  <section id="deploy_on_server"></section>
  <strong>Deploy on server</strong><br><br>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quod quisquam eaque nulla enim dicta
    facilis iste laboriosam consectetur tempora, distinctio dolorem temporibus deleniti optio autem itaque
    accusantium! Harum, quaerat!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, veniam aut? Fugit eum temporibus illum
    accusantium aspernatur? Quae quia sequi porro autem aliquid sunt nihil molestiae eius a, ut nobis.
  </p>
  <br><br>
  <section id="docker"></section>
  <hr><br>
  <strong>Docker</strong><br><br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quae inventore odio ipsam repellendus
    nihil asperiores amet eveniet ipsa rem ducimus voluptatibus debitis fugit incidunt minima pariatur commodi,
    dolores illo.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ratione illum ipsam dolor. Iusto aperiam
    nostrum deleniti animi est saepe autem quas officiis, sint dolores doloremque et quae perferendis natus.
  </p>
</article>