<article class="prose">
    <h1 class="mb-6 text-center border-b-2">HTTP tasks</h1>
    <section>
        {% capture myInclude %}{% include tasks/http-global.md %}{% endcapture %}
        {{ myInclude | markdownify }}
<span></span> <!-- span necessary, don't know why ... -->
    </section>
    <article id="http_get" class="p-2">
        {% capture myInclude %}{% include tasks/http-get.md %}{% endcapture %}
        {{ myInclude | markdownify }}
<span></span> <!-- span necessary, don't know why ... -->
    </article>
</article>
