<article>
  <section id="3_amigos"></section>
  <h3><strong>3 amigos</strong></h3>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quod quisquam eaque nulla enim dicta
    facilis iste laboriosam consectetur tempora, distinctio dolorem temporibus deleniti optio autem itaque
    accusantium! Harum, quaerat!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, veniam aut? Fugit eum temporibus illum
    accusantium aspernatur? Quae quia sequi porro autem aliquid sunt nihil molestiae eius a, ut nobis.
  </p><br><br>
  <section id="test_everything"></section>
  <br><br>

  <hr><br>

  <strong>Test everything</strong>
  <p><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quod quisquam eaque nulla enim dicta
    facilis iste laboriosam consectetur tempora, distinctio dolorem temporibus deleniti optio autem itaque
    accusantium! Harum, quaerat!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, veniam aut? Fugit eum temporibus illum
    accusantium aspernatur? Quae quia sequi porro autem aliquid sunt nihil molestiae eius a, ut nobis.
  </p><br><br>  

  <section id="quick_start"></section>
  <br><br>
  <hr>
  <br>
  <strong>Getting started</strong>
  
  
  <p><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quod quisquam eaque nulla enim dicta
    facilis iste laboriosam consectetur tempora, distinctio dolorem temporibus deleniti optio autem itaque
    accusantium! Harum, quaerat!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, veniam aut? Fugit eum temporibus illum
    accusantium aspernatur? Quae quia sequi porro autem aliquid sunt nihil molestiae eius a, ut nobis.
  </p><br><br>
 
  <br>
  <ul class="tabs">
    <li data-tab-target="#gettingstarted" class="active tab">Getting started</li>
    <li data-tab-target="#mainfeatures" class="tab">Main features</li>
    <li data-tab-target="#tutorials" class="tab">Tutorials</li>
  </ul>
  <div class="tab-content">
    <div id="gettingstarted" data-tab-content class="active">
      <br><br>
      <p class="text-left ml-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quod
        quisquam eaque nulla enim dicta
        facilis iste laboriosam consectetur tempora, distinctio dolorem temporibus deleniti optio autem itaque
        accusantium! Harum, quaerat!
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, veniam aut? Fugit eum temporibus illum
        accusantium aspernatur? Quae quia sequi porro autem aliquid sunt nihil molestiae eius a, ut nobis.
      </p>
    </div>
    <div id="mainfeatures" data-tab-content>
      <br>
      <p class="tabcontent">Main features content</p>
    </div>
    <div id="tutorials" data-tab-content><br>
      <p class="tabcontent">Tutorials content</p>
    </div>
  </div>
</article>