<article>
  <section id="UI"></section>
  <br>
  <h3><strong>Running tests</strong></h3><br>

  <h3><strong>UI</strong></h3>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quod quisquam eaque nulla enim dicta
    facilis iste laboriosam consectetur tempora, distinctio dolorem temporibus deleniti optio autem itaque
    accusantium! Harum, quaerat!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, veniam aut? Fugit eum temporibus illum
    accusantium aspernatur? Quae quia sequi porro autem aliquid sunt nihil molestiae eius a, ut nobis.
  </p><br><br>
  <hr>
  <section id="junit_glacio"></section>
  <hr>
  <br>


  <h3><strong>JUnit Glacio</strong></h3>
  <br>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quod quisquam eaque nulla enim dicta
    facilis iste laboriosam consectetur tempora, distinctio dolorem temporibus deleniti optio autem itaque
    accusantium! Harum, quaerat!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, veniam aut? Fugit eum temporibus illum
    accusantium aspernatur? Quae quia sequi porro autem aliquid sunt nihil molestiae eius a, ut nobis.
  </p><br><br>
  <hr>
  <section id="junit_kotlin"></section>
  <br>
  <h3><strong>JUnit Kotlin</strong></h3>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quod quisquam eaque nulla enim dicta
    facilis iste laboriosam consectetur tempora, distinctio dolorem temporibus deleniti optio autem itaque
    accusantium! Harum, quaerat!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, veniam aut? Fugit eum temporibus illum
    accusantium aspernatur? Quae quia sequi porro autem aliquid sunt nihil molestiae eius a, ut nobis.
  </p><br><br>

</article>