<template id="rightmenu_t">
  <a class="block px-4 py-2 mt-2 text-sm hover:font-semibold text-gray-900 bg-transparent rounded-lg hover:bg-gray-200 focus:bg-gray-200"
    href="#"></a>
</template>
<template id="leftmenu_t">
  <a class="block px-4 py-2 mt-2 text-sm hover:font-semibold text-gray-900 bg-transparent rounded-lg hover:bg-gray-200 focus:bg-gray-200"
    href="" onClick="showmenu(event);return false"></a>
</template>

<article>
  <section id=""></section>
  <br>
  <h3><strong>Tasks</strong></h3><br>

  <h3><strong>List of tasks</strong></h3>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quod quisquam eaque nulla enim dicta
    facilis iste laboriosam consectetur tempora, distinctio dolorem temporibus deleniti optio autem itaque
    accusantium! Harum, quaerat!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, veniam aut? Fugit eum temporibus illum
    accusantium aspernatur? Quae quia sequi porro autem aliquid sunt nihil molestiae eius a, ut nobis.
  </p>
  <br><br>
  <hr>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus quod quisquam eaque nulla enim dicta
    facilis iste laboriosam consectetur tempora, distinctio dolorem temporibus deleniti optio autem itaque
    accusantium! Harum, quaerat!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed, veniam aut? Fugit eum temporibus illum
    accusantium aspernatur? Quae quia sequi porro autem aliquid sunt nihil molestiae eius a, ut nobis.
  </p>
</article>