<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">

    <title> {{ page.title }} </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,700%7CFira+Mono&display=fallback">
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/pygments-default.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />


    <script src="js/main.js" defer></script>
    {% if page.scriptjs %}
    <script src="{{ page.scriptjs }}" defer></script>
    {% endif %}

</head>

<body class="flex flex-col">

    {% include header.html %}

    <button onclick="topFunction()" id="myBtn" class="text-white bg-green-900 hover:bg-green-700 fixed z-50 hidden bottom-5 right-8 border-none outline-none cursor-pointer p-4 rounded-3xl visible sm:invisible"><i class="fa fa-arrow-up"></i></button>


    {% if page.withmenu %}
    {% include {{ page.withmenu }} %}
    {% endif %}

    {% if page.withmenuside %}
    {% include {{ page.withmenuside }} %}
    {% endif %}

    <div class="max-w-screen-md mx-auto px-8 mt-24 md:mt-18">
        <!-- menu pour mobile -->
        <div class="sm:hidden">
            <div class="block lg:hidden">
                <button id="nav-togglemenu" class="flex items-center px-3 py-2 mr-2 right-2 top-20 z-20 fixed">
                    <svg class="text-black active:text-white fill-current h-3 w-3" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                    </svg>
                </button>
            </div>
            <div class="fixed bg-neutral-900 w-56 inset-y-0 right-0 top-16 flex-grow pt-6 sm:inset-x-0 sm:top-0 sm:flex sm:items-center sm:w-auto hidden sm:block sm:pt-0 sm:h-16"
                id="nav-contentmenu">
                <div class="text-white flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between">
                    <a class="mx-auto">Table of contents</a>
                </div>
                {% for menu in site.data.rightmenu[page.rightmenu] %}
                <a class="block px-4 py-2 mt-2 text-sm hover:font-semibold text-white" href="#{{ menu.href }}">{{
                    menu.content
                    }} </a>
                {% endfor %}
            </div>
        </div>


        <div class="bottom-6 top-20 right-0 w-56 h-full pt-5 pl-0 absolute lg:fixed invisible md:visible">
            <div class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between">
                <a>Table of contents</a>
            </div>
            {% for menu in site.data.rightmenu[page.rightmenu] %}
            <a class="block px-4 py-2 mt-2 text-sm hover:font-semibold text-black" href="#{{ menu.href }}">{{
                menu.content
                }}
            </a>
            {% endfor %}
        </div>
    </div>

    <main class="min-h-screen">
        <div class="max-w-screen-md mx-auto px-8">
            {{ content }}
        </div>

    </main>
    <hr>
    {% include footer.html %}
</body>

</html>